<div class="custom-tag-test">
    <h4>String param (required)</h4>
    <p>{{ params.string }}</p>
    <h4>Number param (required)</h4>
    <p>{{ params.number }}</p>
    <h4>Boolean param (required)</h4>
    <p>{{ params.boolean }}</p>
    <h4>Choice param (optional)</h4>
    <p>{% if params.choice is defined %}{{ params.choice }}{% else %}none{% endif %}</p>
    <h4>Content</h4>
    <div>
        {% if content is defined %}{{ content|raw }}{% else %}none{% endif %}
    </div>
</div>